<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mage2tv\AuthorizationDocument\Api\Data\AuthorizationDocumentInterface" type="Mage2tv\AuthorizationDocument\Model\AuthorizationDocument" />

    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="mage2tv_authorization_document" type="Mage2tv\AuthorizationDocument\Plugin\AuthorizationDocumentPlugin"/>
    </type>
</config>
